*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#shop{
    background-image: url("../../../assets/image/h1_hero1\(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    }
    .container{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .text{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            span{
                color: rgb(255, 32, 32);
                font-family: "Clicker Script", cursive;
                font-size: 50px;
                font-weight: 400 ;
                font-style: normal;
            }
            h1{
                font-family: 'Jost', sans-serif;
                font-size: 55px;
                font-weight: 500;
                color: rgb(41, 38, 33);
            }
            p{
                font-family: 'Jost', sans-serif;
                font-size:18px ;
                font-weight:400 ; 
                color: rgb(116, 112, 107);
            }
            button{
                font-family: 'Jost', sans-serif;
                font-size: 14px;
                font-weight:500 ;
                color: white ;
                background-color: black;
                border: 1px solid black;
                padding: 15px 40px;
                transition: 1s;
                &:hover{
                    cursor: pointer;
                    color: black;
                    background-color: white;
                    transition: 1s;
                }
            }
        }
    
    }



